<html>
  <head>
    <title>Eventbrite THP</title>
  </head>

  <body>
    <div class="jumbotron">
      <h1 class="display-4">Créer un évènement</h1>
    </div>

    <div class= 'container'>
        <div class="row">
            <div class="col-md-6 offset-md-3">
            <br><br><br>
      <%= link_to "Back", :back, class: "btn btn-md btn-primary btn-block" %>
    </div>
